.post-wrap {
  display: flex;
  margin: 0 0 80px 0;
}

.post-thumbnail {
  flex: 1 1 260px;
}

.post-content {
  flex: 1 1 60%;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.post-content__post-info {
  align-self: flex-start;
  flex: 1 1 100%;
}

.post-content__post-text {
  align-self: baseline;
  flex: 1 1 100%;
}

.post-title {
  font-size: 1.3rem;
  font-family: "Lato";
  color: rgb(33, 33, 33);
  line-height: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
}

.post-content__post-control {
  align-self: flex-end;
  flex: 1 1 100%;
}